.nav-tabs-wrapper{
    background-color: rgb(164, 44, 194);
 display: flex;
 justify-content: space-between;
flex-wrap: wrap;
padding-top: 10px;
 
}




ul li a{
color: white;
border-radius: 5px;
} 
a:hover{
    background-color: rgb(181, 53, 212);
} 
h1{
    color: white;
    padding-left: 5rem;
}
