

    <div class="nav-tabs-wrapper">
      <h1>Logo</h1>
      <ul class="nav nav-tabs" >
        <li class="nav-item">
          <a mat-button class="nav-link" href="#settings" >
               logo
             
          </a>
      </li>

      <li class="nav-item">
        <a mat-button class="nav-link" href="#settings"  >
            Website
           
        </a>
    </li>
    <li class="nav-item">
      <a mat-button class="nav-link" href="#settings" >
          Website
         
      </a>
  </li>
  <li class="nav-item">
    <a mat-button class="nav-link" href="#settings" >
        Server
        
    </a>
</li>
   
            </ul>
    </div>

  